In [1]:
# class is a blue print , datatype is class and variable of this data type is object. oject is an instant of class

#class - two things 1.data or property  2. function or behaviour

#ex . class - car - data - colour ,engine type, brand . this is common .

#behaviour - calmileage , show gps , speed , air bag.

#class name should be in pascal case .

#+ notation is used for outer progrm.
#- notation is used for private progrm.

## How to create an object?
## object Examples

#1.Car------->WagorR  //      Wagonr=Car()
#2.Sports---->Gilli Danda//   gillidanda=Sports()
#3.Animals---->Langoor//      langoor=Animals()

# Methods are written inside the class while Function is written outside the class and general
##function inside class is called method

In [2]:
# Lets makes a class

In [3]:
class Phone:
    def make_call(self):
        print("Making phone call")
        
    def play_games(self):
        print("playing Games")
        
    def watch_movie(self):
        print("watching movies")

In [4]:
p1 = Phone()

In [5]:
p1.make_call()

Making phone call

In [6]:
p1.play_games()

playing Games

In [7]:
p1.watch_movie()

watching movies

In [8]:
class Phone1:
    def set_color(self,color):
        self.colour = color
    def set_cost(self,cost):
        self.cost = cost
    def show_color(self):
        return self.colour
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("make a call")
    def play_game(self):
        print("playing game")

In [9]:
p2 = Phone1()

In [10]:
p2.set_color("blue")

In [11]:
p2.set_cost("15000")

In [12]:
p2.show_color()

'blue'

In [13]:
p2.show_cost()

'15000'

In [14]:
p2.make_call()

make a call

In [15]:
p2.play_game()

playing game

In [16]:
## Making class using __init__ i.e constructor of class

In [17]:
class Employee:
    def __init__(self, name , age , salary , gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def employee_details(self):
        print("name of employee is" ,self.name)
        print("age of employee is " ,self.age)
        print("salary of employee is" , self.salary)
        print("gender of employee is" , self.gender)

In [18]:
e1 = Employee( "pankaj" , 28 , 100000 , "female")

In [19]:
e1.employee_details()

name of employee is pankaj
age of employee is  28
salary of employee is 100000
gender of employee is female

In [20]:
e2 = Employee("Abhay" , 28 , 500 , "Male")

In [21]:
e2.employee_details()

name of employee is Abhay
age of employee is  28
salary of employee is 500
gender of employee is Male

In [22]:
# inheritance in phython: one class can derived the property of other class
# their are two class
#1. super-class 2. sub-class

In [23]:
class Vehicle():
    def __init__(self,Honda , mileage , cost):
        self.Honda = Honda
        self.mileage = mileage
        self.cost = cost
        
    def vehicle_details(self):
        print("name of brand is" , self.Honda)
        print("milage of vehicle is " , self.mileage)
        print("cost of vehicle is " , self.cost)

In [24]:
v1 = Vehicle("Honda xuv" , 15 , 800000)

In [25]:
v1.vehicle_details()

name of brand is Honda xuv
milage of vehicle is  15
cost of vehicle is  800000

In [26]:
class Car(Vehicle):
    def show_car(self):
        print("i am a car")

In [27]:
c1 = Car('Maruti Baleno' , 20, 120000)

In [28]:
c1.vehicle_details()

name of brand is Maruti Baleno
milage of vehicle is  20
cost of vehicle is  120000

In [29]:
c1.show_car()

i am a car

In [30]:
## over-riding __init__ method

In [31]:
class Vehicle():
    def __init__(self,mileage , cost):
        self.mileage = mileage
        self.cost = cost
        
    def vehicle_details(self):
        print("milage of vehicle is " , self.mileage)
        print("cost of vehicle is " , self.cost)

In [32]:
v1 = Vehicle( 15, 1200000)

In [33]:
v1.vehicle_details()

milage of vehicle is  15
cost of vehicle is  1200000

In [34]:
class Car(Vehicle):
    def __init__(self , mileage , cost , tyres , hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
        
    def show_car_details(self):
        print("Numbers of tyres in car" , self.tyres)
        print("Horse power of car is" , self.hp)
        print(" i am a car")

In [35]:
c1 = Car(600 , 1000000, 8 , 999)

In [36]:
c1.show_car_details()

Numbers of tyres in car 8
Horse power of car is 999
 i am a car

In [37]:
c1.vehicle_details()

milage of vehicle is  600
cost of vehicle is  1000000

In [38]:
## Types of inheritance
#1. single inheritance
#2.Multiple inheritance
#3. Multi-level inheritance
#4.Hybrid inheritance

In [41]:
class Parent1():
    def assign_string_one(self , str1):
        self.str1 = str1
    def show_string_one(self):
        return self.str1

In [42]:
class Parent2():
    def assign_string_two(self , str2):
        self.str2 = str2
        
    def show_string_two(self):
        return self.str2

In [43]:
class Child(Parent1 , Parent2):
    def assign_string_three(self , str3):
        self.str3 = str3
        
    def show_string_three(self):
        return self.str3

In [44]:
my_child = Child()

In [45]:
my_child.assign_string_one("i am string of parent1")

In [46]:
my_child.assign_string_two(" i am string of parent2")

In [47]:
my_child.assign_string_three("i am string of parent3")

In [59]:
my_child.show_string_one()

'i am string of parent1'

In [60]:
my_child.show_string_two()

' i am string of parent2'

In [61]:
my_child.show_string_three()

'i am string of parent3'

In [74]:
class Parent():
    def get_name(self , name):
        self.name = name
    def show_name(self):
        return self.name

In [75]:
class Child(Parent):
    def get_age(self , age):
        self.age = age
    def show_age(self):
        return self.age

In [76]:
class GrandChild(Child):
    def get_gender(self , gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [79]:
gc = GrandChild()